body {
    font: 12px/1.5em "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
    color: #999999;
    background: #f2f2f2;
}

/*头部工具条开始*/
.toolbar {
    width: 100%;
    height: 36px;
    background: #f5f5f5;
    line-height: 36px;
}

.toolbar-in > ul > li {
    height: 100%;
    float: left;
    margin: 0 10px;
}

.toolbar-in > ul > li:last-child {
    margin-left: 0;
}

.toolbar-in > ul > li:last-child {
    margin-right: 0;
}

.toolbar-in > ul > li > a {
    color: #666666;
}

.toolbar-in > ul > li > a > i {
    display: inline-block;
    transition: all 0.5s;
}

.toolbar-in > ul > li > a:hover > i {
    transform: rotateZ(-180deg);
}

/*头部工具条结束*/

/*头部开始*/
.header {
    width: 100%;
    height: 148px;
    background: #ffffff;
}

.header-in > .header-top {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: left;
    padding-top: 5px;
    box-sizing: border-box;
}

.header-top .logo img {
    width: 190px;
    height: 90px;
}

.header-top .ad img {
    width: 160px;
    height: 100px;
}

.header-top .search form {
    margin-top: 30px;
    position: relative;
}

.header-top .search input[type=text] {
    width: 420px;
    height: 44px;
    border: 2px solid #ff9900;
    box-sizing: border-box;
    padding-left: 28px;
    outline: none;
}

.header-top .search input[type=submit] {
    width: 120px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: #ff9900;
    border: none;
    outline: none;
}

.header-top .search i {
    font-size: 20px;
    position: absolute;
    left: 5px;
    top: 10px;
}

.header-top .search ul li {
    float: left;
    color: rgb(204, 204, 204);
    margin: 0 5px;
    margin-top: 5px;
}

.header-top .search ul li a {
    color: rgb(204, 204, 204);
}

.header-in > .header-bottom {
    width: 100%;
    height: 38px;
    line-height: 38px;
    display: flex;
    justify-content: space-between;
}

.header-bottom > p {
    width: 190px;
    height: 100%;
    color: #ffffff;
    background: #ff9900;
}

.header-bottom > p > a {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
}

.header-bottom > p > a > i {
    margin: 0 5px;
}

.header-bottom > ul > li {
    float: left;
    margin: 0 13px;
    position: relative;
}

.header-bottom > ul > li > a {
    font-size: 15px;
    color: #333333;
    font-weight: bold;
}

.header-bottom > ul > li > a:hover {
    color: #ff9900;
}

.header-bottom > ul > li i {
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url("../images/icons.png") no-repeat -345px -213px;
    position: absolute;
    right: -15px;
    top: -5px;
}

.header-bottom > ul > li span {
    width: 25px;
    height: 8px;
    background: url("../images/icons.png") no-repeat -37px 0;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: all 0.5s;
}

.header-bottom > ul > li:hover span {
    display: inline-block;
    bottom: 0;
}

/*头部结束*/

/*banner开始*/
.banner {
    width: 100%;
    height: 482px;
    background: #ff8c22;
}

.banner > .banner-in {
    display: flex;
    justify-content: space-between;
}

.banner-in > .banner-left {
    width: 190px;
    height: 100%;
    background: #333333;
}

.banner-left li {
    margin: 0 10px;
    height: 32px;
    line-height: 32px;
}

.banner-left li > a {
    font-size: 13px;
    color: #ffffff;
    margin: 0 2px;
}

.banner-left li > a:hover {
    color: #ff9900;
}

.banner-in > .banner-center {
    width: 830px;
    height: 100%;
    position: relative;
}

.banner-center > .banner-background {

}

.banner-center > .banner-background > img {
    vertical-align: bottom;
}

.banner-center > .banner-background p {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.banner-center > .banner-background span {
    width: 30px;
    height: 64px;
    background: url("../images/icons.png") no-repeat -82px -145px;
}

.banner-center > .banner-background span:nth-child(2) {
    background-position: -120px -145px;
}

.banner-center > .banner-background ol {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 323px;
}

.banner-center > .banner-background ol > li {
    width: 20px;
    height: 20px;
    background: url("../images/icons.png") no-repeat -26px -100px;
    margin: 0 4px;
    float: left;
}

.banner-center > .banner-background ol > li:first-child {
    background-position: 0 -100px;
}

.banner-center > .banner-foreground {
    width: 816px;
    height: 122px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.banner-center > .banner-foreground > li {
    background: #ffffff;
    width: 202px;
    height: 122px;
    padding: 10px;
    box-sizing: border-box;
}

.banner-center > .banner-foreground > li > h3 {
    font-size: 17px;
    font-weight: bold;
    color: rgb(239, 65, 36);
}

.banner-center > .banner-foreground > li > p {
    font-size: 14px;
}

.banner-center > .banner-foreground > li > img {
    float: right;
    margin-top: -10px;
}

.banner-in > .banner-right {
    width: 170px;
    height: 100%;
    background: #ffffff;
}

.banner-right > .right-top {
    width: 100%;
    height: 169px;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.right-top > i {
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url("../images/icons.png") no-repeat -93px -23px;
    margin-top: 10px;
}

.right-top > .hello {
    display: block;
    margin: 0;
}

.right-top > p {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.right-top > .btn span {
    display: inline-block;
    width: 70px;
    height: 22px;
    border: 1px solid #ff9900;
    color: #ff9900;
    line-height: 22px;
}

.right-top > .btn span:nth-child(2) {
    background: url("../images/icons.png") no-repeat -295px -251px;
}

.right-top > .enter span {
    display: inline-block;
    width: 70px;
    height: 18px;
    background: url("../images/icons.png") no-repeat -670px -256px;
}

.right-top > .enter span:nth-child(2) {
    background-position: -670px -288px;
}

.banner-right > .right-middle {
    width: 100%;
    height: 166px;
    padding: 0 10px;
    box-sizing: border-box;
}

.right-middle > li {
    padding-top: 10px;
}

.right-middle > li a {
    color: #333333;
    line-height: 20px;
}

.right-middle > li a:hover {
    color: #ff9900;
}

.right-middle > li a > i {
    font-style: normal;
    color: #ff9900;
}

.banner-right > .right-bottom {
    width: 100%;
    height: 147px;
    overflow: hidden;
}

.right-bottom > ul {
    width: 171px;
}

.right-bottom > ul > li {
    float: left;
    width: 57px;
    height: 74px;
    text-align: center;
    border-right: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
    box-sizing: border-box;
}

.right-bottom > ul > li a {
    color: #333333;
}

.right-bottom > ul > li i {
    display: inline-block;
    font-size: 30px;
    color: #ff9900;
    margin-top: 15px;
}

/*banner结束*/

/*限时抢购开始*/
.seckill {
    width: 100%;
    height: 307px;
    margin-top: 20px;
}

.seckill-in > .seckill-top {
    width: 100%;
    height: 47px;
    line-height: 47px;
    display: flex;
    justify-content: left;
    position: relative;
    border-bottom: 1px solid #cccccc;
    background: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seckill-top img {
    width: 83px;
    height: 20px;
    margin: 13px 20px 0 20px;
}

.seckill-top > span {
    color: #333333;
    margin-right: 20px;
}

.seckill-top > p > span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #333333;
    color: #ffffff;
    border-radius: 5px;
}

.seckill-top > p > b {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}

.seckill-top > ul {
    margin-left: 20px;
    margin-top: 11px;
}

.seckill-top > ul > li {
    float: left;
    width: 133px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #333333;
}

.seckill-top > ul > li:first-child {
    background: url("../images/icons.png") no-repeat -561px 0;
    color: #ffffff;
}

.seckill-top > a {
    font-size: 14px;
    color: #333333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}

.seckill-top > a > i {
    margin-left: 5px;
    position: absolute;
    top: 1px;
}

.seckill-in > .seckill-bottom {
    width: 100%;
    height: 240px;
    padding: 10px 0;
    background: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.seckill-bottom > ul > li {
    width: 200px;
    height: 240px;
    background: #ffffff;
    float: left;
    border-right: 1px solid #cccccc;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.seckill-bottom > ul > li > a {
    color: #333333;
}

.seckill-bottom > ul > li img {
    width: 159px;
    height: 159px;
}

.seckill-bottom > ul > li h3 {
    width: 180px;
    height: 20px;
    overflow: hidden;
}

.seckill-bottom > ul > li .price {
    text-align: left;
}

.seckill-bottom > ul > li .price > span {
    font-size: 16px;
    color: #ff6600;
    font-weight: bold;
}

.seckill-bottom > ul > li .price > span:last-child {
    font-size: 12px;
    color: #666666;
    font-weight: normal;
    margin-left: 10px;
}

.seckill-bottom > ul > li .progress > i {
    display: inline-block;
    width: 100px;
    height: 6px;
    background: url("../images/icons.png") no-repeat -561px -74px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}

.seckill-bottom > ul > li .progress > i > b {
    display: inline-block;
    width: 100px;
    height: 6px;
    background: url("../images/icons.png") no-repeat -561px -94px;
    position: absolute;
    left: -50%;
    top: 0;
}

.seckill-bottom > img {
    margin-right: 10px;
    border-radius: 5px;
}

/*限时抢购结束*/

/*楼层开始*/
.floor {
    width: 100%;
    height: 567px;
    margin-top: 20px;
}

.floor > .floor-in {
    display: flex;
    justify-content: space-between;
}

.floor-in > .floor-left {
    width: 590px;
    height: 100%;
}

.floor-in .floor-top {
    width: 100%;
    height: 47px;
    background: #f9f9f9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.floor-top > p {
    border-left: 5px solid #33ae75;
    height: 20px;
    margin-top: 13px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    color: #33ae75;
}

.floor-top > p > i {
    font-size: 20px;
    vertical-align: middle;
}

.floor-top > ul > li {
    float: left;
    margin-top: 15px;
}

.floor-top > ul > li > a {
    font-size: 14px;
    margin-right: 20px;
    color: #333333;
}

.floor-top > ul > li > a:hover {
    color: #ff9900;
}

.floor-in .floor-content {
    width: 100%;
    height: 360px;
}

.floor-content > .content-left {
    width: 190px;
    height: 100%;
    background: green;
    position: relative;
}

.content-left img {
    width: 100%;
    height: 100%;
}

.content-left .cover {
    width: 160px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 50px;
    padding-left: 20px;
    box-sizing: border-box;
}

.content-left .cover > h4 {
    font-size: 20px;
    line-height: 35px;
    font-weight: bold;
}

.content-left .cover > p {
    font-size: 12px;
}

.content-left a {
    color: #ffffff;
}

.floor-content > .content-right {
    width: 400px;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
    text-align: center;
}

.content-right ul {
    width: 402px;
}

.content-right ul > li {
    float: left;
    width: 200px;
    height: 180px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.content-right ul > li > a {
    color: #333333;
}

.content-right ul > li > a > h4 {
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
}

.content-right ul > li > a > p {
    font-size: 12px;
    color: #33ae75;
}

.content-right ul > li > a > img {
    width: 120px;
    height: 120px;
}

.floor-in .content-list {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #cccccc;
}

.content-list > ul {
    width: 593px;
}

.content-list > ul > li {
    float: left;
    width: 201px;
    height: 109px;
    background: #ffffff;
    border-right: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}

.content-list > ul > li:first-child {
    width: 190px;
}

.content-list > ul > li h4 {
    font-size: 16px;
    color: #333333;
    margin-top: 15px;
    line-height: 30px;
}

.content-list > ul > li p {
    font-size: 12px;
    color: #33ae75;
}

.content-list > ul > li img {
    float: right;
    width: 84px;
    height: 84px;
}

.floor-in .content-logos {
    background: #ffffff;
    border-top: 1px solid #cccccc;
}

.floor-in .content-logos > li {
    float: left;
    padding: 9px 9px 0;
}

.floor-in .content-logos > li img {
    width: 80px;
    height: 30px;
}

.floor-in > .floor-right {
    width: 590px;
    height: 100%;
}

/*楼层结束*/

/*END开始*/
.end {
    width: 100%;
    height: 50px;
}

.end > .end-in {
    position: relative;
}

.end > .end-in>p{
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.end > .end-in>p>span{
    display: inline-block;
    width: 100px;
    height: 2px;
    background: #cccccc;
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
}

.end > .end-in>p>span:last-child {
    left: auto;
    right: -100px;
}
/*END结束*/
/*底部开始*/
.footer {
    width: 100%;
    height: 480px;
    background: pink;
}

.footer>.footer-top{
    width: 100%;
    height: 280px;
    background: #f9f9f9;
}

.footer-top .footer-info{
    width: 100%;
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;
}

.footer-top .footer-info dt {
    float: left;
    margin-right: 10px;
}

.footer-top .footer-info dl {
    width: 238px;
    height: 48px;
}

.footer-top .footer-info dd>a {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    line-height: 30px;
}

.footer-top .footer-info dd>a:hover{
    color: #ff9900;
}

.footer-top .footer-info dd{
    font-size: 12px;
    color: #333333;
}

.footer-top .footer-list{
    width: 100%;
    height: 182px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    box-sizing: border-box;
}

.footer-list dl>dt {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    line-height: 30px;
}

.footer-list dl>dd>a {
    font-size: 12px;
    color: #333333;
    line-height: 20px;
}

.footer-list dl:last-child>dd {
    width: 100px;
}

.footer-list dl>dd>a:hover {
    color: #ff9900;
}

.footer>.footer-bottom {
    width: 100%;
    height: 200px;
    background: #ffffff;
    text-align: center;
    padding-top: 10px;
}

.footer>.footer-bottom p{
    line-height: 25px;
    color: #cccccc;
}

.footer>.footer-bottom p>a {
    color: #cccccc;
}

.footer-line {
    color: #333333 !important;
}

.footer-line>a {
    color: #333333 !important;
}
/*底部结束*/

/*侧边工具条开始*/
.sidebar {
    width: 35px;
    height: 100%;
    background: #333333;
    position: fixed;
    top: 0;
    right: 0;
}

.sidebar>.sidebar-top {
    width: 100%;
    position: absolute;
    left: 0;
    top: 180px;
}

.sidebar>.sidebar-bottom {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.sidebar div{
    margin: 10px 0;
}

.sidebar a{
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ff9900;
}

.sidebar a:hover {
    background: #ff9900;
    color: #ffffff;
}

.sidebar .cart {
    text-align: center;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
    padding: 10px 0;
    box-sizing: border-box;
}

.sidebar .cart:hover {
    background: #ff9900;
}

.sidebar .cart>a{
    width: 20px;
    color: #ffffff;
}

.sidebar .cart>a:hover {
    color: #ffffff;
    background: none;
}

.sidebar .cart b {
    display: inline-block;
    width: 20px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background: #dd0000;
    border-radius: 3px;
}

.sidebar .money {
    margin-top: 60px;
}
/*侧边工具条结束*/