* {
	margin: 0;
	padding: 0;
}

.box {
	padding-top: 10px;
	padding-left: 10px;
	background: red;
	float: left;
}

.box>img{
	vertical-align: middle;
	border: 10px solid #ffffff;
	width: 200px;
}

.main {

}