html, body {
    font-family: Helvetica, sans-serif, STHeiTi;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ccc;
    transition: all .2s ease-in-out;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

img {
    vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
