<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>驴妈妈旅游网</title>
	<meta id="_keywords" name="Keywords" content="驴妈妈无线,景区门票,旅游度假">
	<meta id="_description" name="Description" content="驴妈妈无线官网:支持手机快捷预订景区门票,自助游线路,全国酒店,豪华邮轮等各种旅游产品.(中国最领先的在线旅游预订服务商!)">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
<!--tool bar-->
<div class="tool">
	<div class="tool-in clearfix">
		<ul class="tool-left fl">
			<li class="city">
				<i></i>
				<span></span>
				<a href="javascript:">[切换]</a>
				<div>
					<p>可选城市列表</p>
				</div>
			</li>
			<li><a href="javascript:">请登录</a></li>
			<li>|</li>
			<li><a href="javascript:">免费注册</a></li>
		</ul>
		<ul class="tool-right fr">
			<li>
				<a href="javascript:">我的驴妈妈</a>
				<i></i>
				<div>
					<p><a href="javascript:">我的订单</a></p>
					<p><a href="javascript:">我的驴镑</a></p>
					<p><a href="javascript:">我的优惠券</a></p>
					<p><a href="javascript:">我的礼品卡</a></p>
				</div>
			</li>
			<li><a href="javascript:">驴棒商城</a></li>
			<li><a href="javascript:">品牌会员</a></li>
			<li><a href="javascript:">帮助</a></li>
			<li>|</li>
			<li class="weixin">
				<a href="javascript:">
					<i></i>
				</a>
				<div>
					<img src="images/weixin.jpg" alt>
				</div>
			</li>
			<li class="xiaochengxu">
				<a href="javascript:">
					<i></i>
				</a>
				<div>
					<img src="images/xiaochengxu.png" alt>
				</div>
			</li>
			<li class="sina">
				<a href="javascript:">
					<i></i>
				</a>
			</li>
			<li class="tel">
				<a href="javascript:">
					<i></i>
					手机版
				</a>
			</li>
			<li>|</li>
			<li class="phone">
				<a href="javascript:">
					<i></i>
					国内:1010-6060
				</a>
				<div>
					<img src="images/telephone.png" alt>
				</div>
			</li>
			<li>|</li>
			<li><a href="javascript:">在线客服</a></li>
			<li>
				<a href="javascript:">合作中心</a>
				<i></i>
				<div>
					<p><a href="javascript:">供应商合作</a></p>
					<p><a href="javascript:">EBooking</a></p>
					<p><a href="javascript:">广告合作</a></p>
					<p><a href="javascript:">驴妈妈联盟</a></p>
					<p><a href="javascript:">品牌合作</a></p>
					<p><a href="javascript:">网络媒体合作</a></p>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--advertisement-->
<div class="ad">
	<div class="ad-in">
		<img src="images/big-ad.jpg" alt="ad">
		<span></span>
	</div>
</div>
<!--header-->
<div class="header">
	<div class="header-in clearfix">
		<h1 class="logo fl">
			<a href="javascript:">
				<img src="images/lv_logo.png" alt="logo">
			</a>
		</h1>
		<div class="search fl clearfix">
			<div class="search-city fl">
				<b>上海</b>
				<span>出发</span>
				<i></i>
			</div>
			<div class="search-box fr">
				<div class="search-type">
					<b>全部旅游</b>
					<i></i>
				</div>
				<input type="text" placeholder="请输入目的地、主题、或关键词">
				<div class="search-btn">
					<i></i>
					<span>搜索</span>
				</div>
			</div>
		</div>
		<div class="tip fr">
			<a href="javascript:">
				<img src="images/homeheadtip.png" alt="tip">
			</a>
		</div>
	</div>
</div>
<!--navigation-->
<div class="nav">
	<ul class="nav-in clearfix"></ul>
	<div class="sub-nav">
		<p></p>
		<i class="nav-arrow"></i>
	</div>
</div>
<!--banner-->
<div class="banner">
	<ul class="banner-box">
		<li><a href="javascript:"><img src="images/banner1.jpg" alt></a></li>
		<li><a href="javascript:"><img src="images/banner2.jpg" alt></a></li>
	</ul>
	<ol class="banner-indicator">
		<li></li>
		<li></li>
	</ol>
	<div class="tab clearfix">
		<ul class="tab-left fl">
			<li class="active"><a href="javascript:">景点门票</a></li>
			<li><a href="javascript:">跟团游</a></li>
			<li><a href="javascript:">自由行</a></li>
			<li><a href="javascript:">当地游</a></li>
			<li><a href="javascript:">酒店</a></li>
			<li><a href="javascript:">机票</a></li>
			<li><a href="javascript:">火车票</a></li>
			<li><a href="javascript:">邮轮&签证</a></li>
		</ul>
		<div class="tab-right fr">
			<div class="active">
				<ul class="tab-top">
					<li class="active">
						<a href="javascript:">景点门票</a>
						<p><i></i></p>
					</li>
					<li>
						<a href="javascript:">酒店+景点</a>
					</li>
				</ul>
				<div class="tab-bottom">
					<input type="text" placeholder="请输入目的地、主题或景区名">
					<div class="clearfix"><a href="javascript:">搜索</a></div>
					<dl class="clearfix">
						<dt class="fl">热搜景点</dt>
						<dd class="fl">
							<a href="javascript:">热带风暴</a>
							<span>|</span>
							<a href="javascript:">水上乐园</a>
							<span>|</span>
							<a href="javascript:">上海欢乐谷</a>
							<span>|</span>
							<a href="javascript:">横店影视城</a>
							<span>|</span>
							<a href="javascript:">灵山大佛</a>
							<a href="javascript:">上海迪士尼乐园</a>
							<span>|</span>
							<a href="javascript:">上海海昌海洋公园</a>
							<span>|</span>
							<a href="javascript:">东方明珠</a>
						</dd>
					</dl>
				</div>
			</div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>
<!--seckill-->
<div class="section seckill">
	<div class="seckill-in"></div>
</div>
<!--other trips-->
<div class="section section2">
	<div class="section-in">
		<img src="images/section2.png" alt="">
	</div>
</div>
<div class="section section3">
	<div class="section-in">
		<img src="images/section3.png" alt="">
	</div>
</div>
<div class="section section4">
	<div class="section-in">
		<img src="images/section4.png" alt="">
	</div>
</div>
<div class="section section5">
	<div class="section-in">
		<img src="images/section5.png" alt="">
	</div>
</div>
<div class="section section6">
	<div class="section-in">
		<img src="images/section6.png" alt="">
	</div>
</div>
<!--partner-->
<div class="section7">
	<div class="section-in" style="text-align: center;">
		<img src="images/partners.png" alt="">
	</div>
</div>
<!--footer-->
<div class="footer">
	<div class="footer-top">
		<img src="images/footertop.png" alt="">
	</div>
	<div class="footer-middle">
		<img src="images/footermiddle.png" alt="">
	</div>
	<div class="footer-bottom">
		<img src="images/footerbottom.png" alt="">
	</div>
</div>
<!--floor-->
<ul class="nav-left">
	<li class="active"><h3>特卖</h3></li>
	<li><h3>出境</h3></li>
	<li><h3>国内</h3></li>
	<li><h3>周边</h3></li>
	<li><h3>门票</h3></li>
	<li><h3>酒店</h3></li>
</ul>
<!--right navigation-->
<div class="nav-right">
	<ul class="nav-right-top">
		<li><a href="javascript:">
			<i></i>
			<s></s>
			<p>APP</p>
			<u></u>
			<img src="images/app.jpg" alt>
		</a></li>
		<li><a href="javascript:">
			<s></s>
			<p>小程序</p>
			<u></u>
			<img src="images/xiaochengxu.png" alt>
		</a></li>
		<li><a href="javascript:">
			<s></s>
			<p>登录</p>
		</a></li>
		<li><a href="javascript:">
			<p>注册</p>
			<u></u>
			<img src="images/register.png" alt>
		</a></li>
	</ul>
	<ul class="nav-right-bottom">
		<li><a href="javascript:">
			<s></s>
			<p>在线客服</p>
		</a></li>
		<li><a href="javascript:">
			<s></s>
			<p>有奖问卷</p>
		</a></li>
		<li><a href="javascript:">
			<s></s>
			<p>反馈</p>
		</a></li>
		<li class="nav-back"><a href="javascript:">
			<s></s>
			<p>TOP</p>
		</a></li>
		<li class="nav-close"><a href="javascript:">
			<s></s>
		</a></li>
	</ul>
</div>
<div class="lv-logo"></div>

<!--templates-->
<script id="city" type="text/html">
	<% for(let i = 0; i < cities.length; i++) { %>
	<dl class="fl">
		<dt class="fl"><%= cities[i].area %></dt>
		<dd class="fl">
			<% for(let j = 0; j < cities[i].list.length; j++) { %>
			<a href="javascript:"><%= cities[i].list[j] %></a>
			<% } %>
		</dd>
	</dl>
	<% } %>
</script>
<script id="seckill" type="text/html">
	<div class="seckill-top clearfix">
		<ul class="seckill-tab fl">
			<% for(let i = 0; i < miaosha.length; i++) { %>
			<% if(i === 0) { %>
			<li class="active"><a href="javascript:"><%= miaosha[i].title %></a></li>
			<% } else { %>
			<li><a href="javascript:"><%= miaosha[i].title %></a></li>
			<% } %>
			<% } %>
		</ul>
		<p><i></i></p>
		<a href="javascript:" class="fr">
			<img src="images/ad.jpg" alt>
		</a>
	</div>
	<% for(let i = 0; i < miaosha.length; i++) { %>
	<% if(i === 0) { %>
	<ul class="seckill-bottom active">
		<% } else { %>
		<ul class="seckill-bottom">
			<% } %>
			<% for(let j = 0; j < miaosha[i].list.length; j++) { %>
			<li><a href="javascript:" title="<%= miaosha[i].list[j].des %>">
				<img src="<%= miaosha[i].list[j].img %>" alt>
				<p>
					<b><%= miaosha[i].list[j].type %></b>
					<span>|</span>
					<%= miaosha[i].list[j].des %>
				</p>
				<div class="clearfix">
					<p class="fl">
						<%= miaosha[i].list[j].price %>
						<span>起</span>
					</p>
					<i class="fr">立即抢购</i>
				</div>
			</a></li>
			<% } %>
		</ul>
		<% } %>
</script>

<script src="js/template-web.js"></script>
<script src="js/tools.js"></script>
<script src="https://pv.sohu.com/cityjson"></script>
<script src="js/index.js"></script>
</body>
</html>