.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    /*设置添加的子元素的内容为空*/
    content: "";
    /*设置添加的子元素为块级元素*/
    display: block;
    /*设置添加的子元素的高度为0*/
    height: 0;
    /*设置添加的子元素看不见*/
    visibility: hidden;
    /*给添加的子元素设置clear: both;*/
    clear: both;
}
.clearfix{
    /*兼容IE6*/
    *zoom:1;
}

.color-f60{
    color: #f60 !important;
}
.div-in{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}
