@import './reset';
@import './variable';
@import './mixin';

* {
    -webkit-tap-highlight-color: transparent;
}

html, body {
    width: 100%;
    height: 100%;
    @include bg_sub_color();
}

body {
    @include font_size($font_medium);
    font-family: Helvetica, sans-serif, STHeiTi;
}

img {
    vertical-align: bottom;
}
