@import './variable';

/*根据dpr计算font-size*/
@mixin font_dpr($font-size) {
    font-size: $font-size;
    html[data-dpr='2'] & {
        font-size: $font-size * 2;
    }
    html[data-dpr='3'] & {
        font-size: $font-size * 3;
    }
}

/*通过该函数设置字体大小，后期方便统一管理；*/
@mixin font_size($size) {
    @include font_dpr($size);
}

// 不换行
@mixin no_wrap() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// 限制行数
@mixin clamp($row) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $row;
}

// 背景颜色换肤
@mixin bg_color () {
    html[data-theme='netease'] & {
        background: $background-color-theme-netease;
    }
    html[data-theme='qq'] & {
        background: $background-color-theme-qq;
    }
    html[data-theme='it666'] & {
        background: $background-color-theme-it666;
    }
}

// 背景颜色(次要)换肤
@mixin bg_sub_color () {
    html[data-theme='netease'] & {
        background: $background-color-sub-theme-netease;
    }
    html[data-theme='qq'] & {
        background: $background-color-sub-theme-qq;
    }
    html[data-theme='it666'] & {
        background: $background-color-sub-theme-it666;
    }
}

// 文字颜色换肤
@mixin font_color () {
    html[data-theme='netease'] & {
        color: $font-color-theme-netease;
    }
    html[data-theme='qq'] & {
        color: $font-color-theme-qq;
    }
    html[data-theme='it666'] & {
        color: $font-color-theme-it666;
    }
}

// 文字颜色(激活)换肤
@mixin font_active_color () {
    html[data-theme='netease'] & {
        color: $font-active-color-theme-netease;
    }
    html[data-theme='qq'] & {
        color: $font-active-color-theme-qq;
    }
    html[data-theme='it666'] & {
        color: $font-active-color-theme-it666;
    }
}

// 边框换肤
@mixin border_color () {
    html[data-theme='netease'] & {
        border-color: $border-color-theme-netease;
    }
    html[data-theme='qq'] & {
        border-color: $border-color-theme-qq;
    }
    html[data-theme='it666'] & {
        border-color: $border-color-theme-it666;
    }
}

// 图片换肤
@mixin bg_img ($url) {
    // DPR=1.0
    html[data-theme='netease'][data-dpr='1'] & {
        background-image: url($url + '_163.png');
    }
    html[data-theme='qq'][data-dpr='1'] & {
        background-image: url($url + '_qq.png');
    }
    html[data-theme='it666'][data-dpr='1'] & {
        background-image: url($url + '_it666.png');
    }

    // DPR=2.0
    html[data-theme='netease'][data-dpr='2'] & {
        background-image: url($url + '_163@2x.png');
    }
    html[data-theme='qq'][data-dpr='2'] & {
        background-image: url($url + '_qq@2x.png');
    }
    html[data-theme='it666'][data-dpr='2'] & {
        background-image: url($url + '_it666@2x.png');
    }

    // DPR=3.0
    html[data-theme='netease'][data-dpr='3'] & {
        background-image: url($url + '_163@3x.png');
    }
    html[data-theme='qq'][data-dpr='3'] & {
        background-image: url($url + '_qq@3x.png');
    }
    html[data-theme='it666'][data-dpr='3'] & {
        background-image: url($url + '_it666@3x.png');
    }

    background-size: cover;
    background-repeat: no-repeat;
}
