/*背景开始*/
video {
    width: 100%;
    height: 1080px;
    object-fit: cover;
}

/*背景结束*/

/*头部开始*/
.header {
    width: 1196px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.header > ul {
    margin: 0;
    padding: 0;
    padding-top: 45px;
    list-style: none;
}

.header > ul > li {
    float: left;
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(to bottom, #46018c, #0200a1);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

.header > ul > li:nth-child(2) {
    margin-right: 393px;
    border-right: none;
}

.header > ul > li:last-child {
    border-right: none;
    background: url("../images/download2.0.png") no-repeat;
}

.header > ul > li:last-child > a {
    background: none;
}

.header > ul > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    background: url("../images/nav-itembg.png");
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.5s;
}

.header > ul > li > a:hover {
    border-color: #ffffff;
}

.header > h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.header > h1 img {
    width: 393px;
}

/*头部结束*/

/*内容开始*/
.main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1080px;
}

.main > .slogan {
    position: absolute;
    left: 50%;
    top: 235px;
    transform: translateX(-50%);
}

.main > .list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 1010px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
}

.main > .list > li {
    width: 310px;
    height: 205px;
    background: skyblue;
    position: relative;
}

.main > .list > li:nth-child(1) {
    animation: move 1s linear 1s normal forwards;
}

.main > .list > li:nth-child(2) {
    animation: move 1s linear 2s normal forwards;
}

.main > .list > li:nth-child(3) {
    animation: move 1s linear 3s normal forwards;
}

@keyframes move {
    from {
        bottom: 0;
    }
    to {
        bottom: 120px;
    }
}

.main > .list > li > h3 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #ffffff;
    background: #15112d;
    line-height: 50px;
    text-align: center;
    border: 2px solid #2a2658;
    box-sizing: border-box;
}

.main > .list > li > a {
    display: inline-block;
    width: 100%;
    border: 2px solid #655fc7;
    box-sizing: border-box;
}

.main > .list > li > a > img {
    width: 100%;
    vertical-align: bottom;
}

/*内容结束*/

/*底部开始*/
.footer {
    width: 100%;
    height: 502px;
    background: #0d0017;
    position: absolute;
    top: 1080px;
    left: 0;
    border-top: 2px solid #655fc7;
}

.footer > .footer-in {
    width: 1000px;
    height: 422px;
    margin: 0 auto;
}

.footer > .footer-in > .footer-top {
    padding-top: 125px;
    padding-bottom: 45px;
}

.footer > .footer-in > .footer-top a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    margin-right: 10px;
}

.footer > .footer-in > .footer-top a > i {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url("../images/footer-top.png") no-repeat -6px -7px;
    margin-right: 10px;
    vertical-align: middle;
}

.footer > .footer-in > .footer-top a:nth-child(2) > i {
    background-position: -36px -8px;
}

.footer > .footer-in > .footer-top a:nth-child(3) > i {
    background-position: -6px -100px;
}

.footer > .footer-in > .footer-top span {
    font-size: 14px;
    color: #ffffff;
    margin: 0 10px;
}

.footer > .footer-in > .footer-top i {
    display: inline-block;
    width: 95px;
    height: 26px;
    background: url("../images/footer-top.png") no-repeat -142px -44px;
    vertical-align: top;
}

.footer > .footer-in > .footer-top b {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    background: #2b0473;
    color: #ffffff;
    font-size: 12px;
    border: 1px solid #462385;
}

.footer > .footer-in > .footer-top p {
    height: 30px;
    line-height: 30px;
}

.footer > .footer-in > .footer-middle > .middle-left {
    margin-right: 75px;
}

.footer > .footer-in > .footer-middle > .middle-right {
    font-size: 14px;
}

.footer > .footer-in > .footer-middle > .middle-right a {
    text-decoration: none;
    color: #cccccc;
}

.footer > .footer-in > .footer-middle > .middle-right a:hover {
    color: #ffffff;
}

.footer > .footer-in > .footer-middle > .middle-right span {
    color: #cccccc;
    margin: 0 10px;
}

.footer > .footer-in > .footer-middle > .middle-right>div p {
    font-size: 12px;
    color: #8eb1bc;
}

.footer > .footer-in > .footer-middle > .middle-right>div a{
    color: #8eb1bc;
}

.footer > .footer-in > .footer-bottom {
    padding-top: 35px;
}

.footer > .footer-in > .footer-bottom>p {
    font-size: 12px;
    color: #417aa1;
    line-height: 10px;
    text-align: center;
}
/*底部结束*/