/*tool classes*/
.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix::after {
	/*设置添加的子元素的内容为空*/
	content: "";
	/*设置添加的子元素为块级元素*/
	display: block;
	/*设置添加的子元素的高度为0*/
	height: 0;
	/*设置添加的子元素看不见*/
	visibility: hidden;
	/*给添加的子元素设置clear: both;*/
	clear: both;
}

.clearfix {
	/*兼容IE6*/
	*zoom: 1;
}

/*global settings*/
* {
	user-select: none;
}

body {
	font: 12px/1.6 tahoma, arial, sans-serif;
	color: #333333;
	background: #f7f7f7;
}

/*navigation bar*/
.nav {
	width: 100%;
	margin-bottom: 30px;
	background: #ffffff;

	.nav-in {
		width: 1690px;
		height: 100%;
		margin: 0 auto;
	}

	.nav-top {
		width: 100%;
		height: 33px;
		border-bottom: 1px solid #cccccc;

		ul {
			display: flex;
			align-items: center;
			height: 100%;

			li {
				margin: 0 10px;
				color: #cccccc;

				a {
					color: #cccccc;

					i {
						color: pink;
						font-size: 10px;
						margin-right: 5px;
					}
				}

				&:last-child {
					a {
						i {
							color: #cccccc;
						}
					}
				}
			}
		}
	}

	.nav-bottom {
		width: 100%;
		height: 100px;

		.nav-in {
			display: flex;
			align-items: center;

			.logo {
				img {
					vertical-align: middle;
				}
			}

			.menu {
				font-size: 15px;
				margin-left: 30px;

				i {
					font-size: 20px;
				}
			}

			.search {
				display: flex;
				margin-left: 283px;

				input {
					border: none;
					outline: none;
				}

				input[type=text] {
					width: 650px;
					height: 48px;
					line-height: 48px;
					background: #f7f7f7;
					padding-left: 10px;
					box-sizing: border-box;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}

				input[type=submit] {
					width: 58px;
					height: 48px;
					background: url("../images/search-btn.png") no-repeat;
				}
			}

			.list {
				display: flex;

				li {
					margin-left: 30px;
					text-align: center;

					i {
						font-size: 30px;
					}
				}
			}

			.login {
				margin-left: 100px;

				a {
					color: #333333;
					font-size: 14px;

					img {
						vertical-align: middle;
					}
				}
			}
		}
	}
}

/*sticky navigation bar*/
.sticky-nav {
	position: fixed;
	left: 0;
	top: -100px;
	background: #ffffff;
	transition: all 0.3s linear 0s;
	z-index: 9999;

	.nav-bottom {
		.menu {
			visibility: hidden;
		}
	}
}

/*main*/
.main {
	width: 100%;

	.main-in {
		width: 1690px;
		margin: 0 auto;
		position: relative;

		.banner {
			width: 700px;
			position: absolute;
			top: 0;
			left: 490px; /* 220 * 2 + 10 * 5 */
			border-radius: 15px;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.category {
			width: 700px;
			height: 400px;
			background: url("../images/bg.gif") no-repeat 0 0 / cover;
			position: absolute;
			top: 760px;
			left: 490px;

			.category-top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				padding: 55px 10px 0;
				box-sizing: border-box;

				li {
					width: 112px;
					height: 112px;
					background: url("../images/category.png") no-repeat 0 0 / cover;
					text-align: center;
					line-height: 170px;

					a {
						color: #333333;
					}
				}
			}

			.category-bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				padding: 10px 10px 0;
				box-sizing: border-box;

				li {
					a {
						display: inline-block;
						width: 120px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						background: #f1f1f1;
						margin-bottom: 10px;
						border-radius: 15px;
						color: #333333;
					}
				}
			}
		}

		.item {
			float: left;
			cursor: pointer;
			padding: 0 10px;

			.item-box {
				width: 220px;
				background: #ffffff;
				border-radius: 15px;
				overflow: hidden;
				position: relative;
				top: 0;
				left: 0;
				transition: top 0.3s linear 0s;

				.item-top {
					position: relative;

					& > img {
						width: 100%;
						vertical-align: middle;
					}

					.play {
						position: absolute;
						left: 10px;
						top: 10px;
						z-index: 666;
					}

					.title {
						position: absolute;
						left: 10px;
						bottom: 10px;
						box-sizing: border-box;
						color: #ffffff;

						img {
							vertical-align: text-bottom;
							margin-right: 5px;
						}
					}

					.mask {
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.5);
						position: absolute;
						top: 0;
						left: 0;
						display: none;

						ul {
							position: absolute;
							top: 10px;
							right: 10px;

							li {
								width: 42px;
								height: 42px;
								background: url("../images/icons.png") no-repeat;

								&:nth-child(1) {
									background-position: -5px -5px;
									margin-bottom: 10px;

									span {
										height: 16px;
										line-height: 16px;
										padding: 0 4px;
										border-radius: 8px;
										background: #ff4466;
										position: absolute;
										top: -4px;
										right: -4px;
										color: #ffffff;
									}
								}

								&:nth-child(2) {
									background-position: -5px -57px;
								}
							}
						}

						.mask-info {
							color: #ffffff;
							position: absolute;
							left: 0;
							bottom: 0;
							padding: 10px;

							.mask-title {
								height: 40px;
								line-height: 40px;
								border-bottom: 1px solid #ffffff;
								margin-bottom: 10px;

								img {
									vertical-align: text-bottom;
								}
							}

							/*.mask-description {
								!*隐藏指定行数之外的文字并用...代替*!
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-line-clamp: 3;
								-webkit-box-orient: vertical;
							}*/
						}
					}
				}

				.item-bottom {
					padding: 10px 10px 0;

					a {
						float: left;
						color: #333333;
						background: #cccccc;
						padding: 2px;
						border-radius: 3px;
						margin-right: 10px;
						margin-bottom: 10px;

						img {
							vertical-align: text-bottom;
							width: 14px;
						}
					}
				}
			}

			&:hover {
				.item-box {
					top: -5px;

					.item-top {
						.title {
							display: none;
						}

						.mask {
							display: block;
						}
					}

					.item-bottom {
						background: #f1f1f1;

						a {
							background: #ffffff;
						}
					}
				}
			}
		}
	}
}

/*footer*/
.footer {
	width: 100%;
	height: 440px;
	background: url("../images/footer-bg.jpg") no-repeat 0 0 / cover;
	margin-top: 50px;
	padding: 50px 0 25px;

	.footer-in {
		width: 1200px;
		height: 100%;
		margin: 0 auto;
		color: #ffffff;

		a {
			color: #ffffff;

			&:hover {
				color: orange;
			}
		}

		.footer-logo {
			text-align: center;
		}

		.footer-helper {
			margin: 50px 0 0 40px;

			dl {
				float: left;
				width: 25%;

				dt {
					font-size: 14px;

					&::after {
						content: "";
						display: block;
						width: 30px;
						height: 1px;
						background: #ffffff;
						margin-bottom: 30px;
					}
				}

				dd {
					line-height: 30px;
				}
			}
		}

		.footer-list {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 50px;

			li {
				margin: 0 15px;
			}
		}

		.footer-line {
			text-align: center;
			padding: 20px 0;
			position: relative;

			&::before {
				content: "";
				display: inline-block;
				width: 450px;
				height: 1px;
				background: #ffffff;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&::after {
				content: "";
				display: inline-block;
				width: 450px;
				height: 1px;
				background: #ffffff;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.footer-copyright {
			text-align: center;

			img {
				vertical-align: top;
			}
		}
	}
}

/*back to top button*/
.back {
	width: 72px;
	height: 77px;
	text-align: center;
	border-radius: 6px;
	background: #f1f1f1;
	padding: 10px;
	box-sizing: border-box;
	position: fixed;
	right: 20px;
	bottom: 50px;
	display: none;
	cursor: pointer;

	p {
		margin-top: 10px;
	}
}