Backend/logs/
Backend/npm-debug.log
Backend/node_modules/
Backend/coverage/
Backend/.idea/
Backend/run/
Backend/.DS_Store
Backend/.vscode
Backend/*.swp
Backend/*.lock
Backend/.eslintcache

Backend/app/**/*.map
Backend/test/**/*.map
Backend/config/**/*.map

Backend/app/public/assets/**/*

KOA2-TS/node_modules/
KOA2-TS/.idea/


Frontend/logs
Frontend/*.log
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/pnpm-debug.log*
Frontend/lerna-debug.log*

Frontend/node_modules
Frontend/dist
Frontend/dist-ssr
Frontend/*.local
Frontend/.eslintcache

# Editor directories and files
Frontend/.vscode
Frontend/.idea
Frontend/.DS_Store
Frontend/*.suo
Frontend/*.ntvs*
Frontend/*.njsproj
Frontend/*.sln
Frontend/*.sw?
