/*头部开始*/
.header > .header-top {
    display: none;
}

.header > .header-bottom {
    display: none;
}

.header > .header-phone {
    width: 100%;
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
}

.header > .header-phone a {
    font-size: 40px;
    color: #ffffff;
}

.header > .header-phone > h1 a {
    font-size: 100px;
}

/*头部结束*/

/*内容开始*/
.main {
    margin-top: 0;
}

.main-top > div {
    display: none;
}

.main > .main-top li:nth-child(1) {
    display: none;
}

.main > .main-top li:nth-child(2) {
    display: block;
}

.main-bottom > div {
    width: 100%;
}

.main-bottom > div img {
    width: 100%;
    height: 100%;
}

/*内容结束*/

/*底部开始*/
.footer > .footer-in {
    padding: 0 60px;
}

.footer-in > .footer-top > .footer-top-left {
    float: none;
    width: 100%;
    flex-wrap: wrap;
}

.footer-in > .footer-top > .footer-top-left dt {
    font-size: 25px;
    font-weight: 400;
    color: #666666;
    height: 50px;
    line-height: 50px;
}

.footer-in > .footer-top > .footer-top-left dt::after {
    content: "";
    float: right;
    width: 20px;
    height: 20px;
    background: url("../images/add.png") center center no-repeat;
    background-size: 20px 20px;
}

.footer-in > .footer-top > .footer-top-left dl {
    width: 100%;
}

.footer-in > .footer-top > .footer-top-right {
    float: none;
    width: 100%;
}

.footer-in > .footer-top > .footer-top-left dd {
    display: none;
}

.footer-in > .footer-top > .footer-top-right p:nth-child(1) {
    float: left;
}

.footer-in > .footer-top > .footer-top-right p:nth-child(1) a {
    font-size: 30px;
    color: #415fff;
}

.footer-in > .footer-top > .footer-top-right > p {
    text-align: right;
}

.footer-in > .footer-top > .footer-top-right p:nth-child(3) {
    font-size: 18px;
}

.footer-in > .footer-bottom>.footer-bottom-right {
    float: none;
    padding: 10px 0;
}

.footer-in > .footer-bottom > .footer-bottom-right a {
    font-size: 23px;
}

.footer-in > .footer-bottom > .footer-bottom-left {
    font-size: 18px;
}
/*底部结束*/