/*头部开始*/
.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
}

.header > .header-top {
    width: 100%;
    height: 40px;
    background: #333;
    line-height: 40px;
    padding: 0 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.header-top > ul {
    list-style: none;
}

.header-top > ul > li {
    float: left;
    margin-right: 42px;
    color: #cccccc;
}

.header-top > ul > li:last-child {
    margin-right: 0;
}

.header-top > ul > li:hover > a {
    color: #666666;
}

.header-top > ul > li > a {
    font-size: 14px;
    color: #cccccc;
    width: 400px;
}

.header > .header-bottom {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
}

.header-bottom > .logo > a {
    font-size: 100px;
    color: #ffffff;
}

.header-bottom > .logo:hover > a {
    color: #417fff;
}

.header-bottom > .header-middle {
    list-style: none;
}

.header-bottom > .header-middle > li {
    float: left;
    margin: 0 28px;
}

.header-bottom > .header-middle > li:hover > a {
    color: #415fff;
}

.header-bottom > .header-middle > li > a {
    font-size: 16px;
    color: #000000;
}

.header-bottom > .search > a {
    color: #cccccc;
    font-size: 30px;
}

/*头部结束*/

/*内容开始*/
.main {
    width: 100%;
    margin-top: 40px;
}

.main > .main-top {
    width: 100%;
    position: relative;
}

.main-top img {
    width: 100%;
    vertical-align: bottom;
}

.main-top > ol {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}

.main-top > ol > li {
    float: left;
    width: 40px;
    height: 5px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 4px;
}

.main-top > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20%;
}

.main-top > div > i {
    display: block;
    width: 304px;
    height: 45px;
    background: url("../images/vivo-banner-title1.png") no-repeat;
}

.main-top > div > i:nth-child(2) {
    background: url("../images/vivo-banner-title2.png") no-repeat;
}

.main-top > div > i:nth-child(3) {
    background: url("../images/vivo-banner-title3.png") no-repeat;
}

.main-top > div > p {
    font-size: 14px;
    width: 304px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 60px;
    transition: all 0.5s
}

.main-top > div > p:hover {
    color: #ffffff;
}

.main-top > div > p:hover b {
    width: 70px;
    background: #ffffff;
}

.main-top > div span {
    display: block;
}

.main-top > div b {
    display: inline-block;
    width: 16px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 8px;
    transition: all 0.5s
}

.main > .main-bottom {
    width: 100%;
    display: flex;
    margin-top: 5px;
}

.main-bottom > div {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 300px;
}

.main-bottom > div img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-bottom .bottom-title {
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
    text-align: center;
    z-index: 999;
    color: #333333;
}

.main-bottom > div:nth-child(even) .bottom-title {
    color: #ffffff;
}

.main-bottom .bottom-title h2 {
    font-size: 16px;
    font-weight: 500;
}

.main-bottom .bottom-title p {
    font-size: 14px;
    margin-top: 10px;
}

/*内容结束*/

/*底部开始*/
.footer {
    width: 100%;
    background: #f7f7f7;
    padding-top: 60px;
}

.footer > .footer-in {
    width: 1200px;
    margin: 0 auto;
}

.footer-in > .footer-top {
    padding-bottom: 76px;
    border-bottom: 1px solid #333333;
}

.footer-in > .footer-top > .footer-top-left {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.footer-in > .footer-top > .footer-top-left dt {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 40px;
}

.footer-in > .footer-top > .footer-top-left dd {
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    margin-bottom: 18px;
}

.footer-in > .footer-top > .footer-top-right {
    width: 25%;
    text-align: center;
}

.footer-in > .footer-top > .footer-top-right p:nth-child(1) a {
    font-size: 22px;
    color: #333333;
}

.footer-in > .footer-top > .footer-top-right p:nth-child(2) {
    margin-top: 60px;
    font-size: 24px;
    color: #415fff;
}

.footer-in > .footer-top > .footer-top-right p:nth-child(3) {
    font-size: 14px;
    color: #333333;
}

.footer-in > .footer-bottom {
    padding: 10px 0;
    font-size: 12px;
    color: #666666;
}

.footer-in > .footer-bottom a {
    color: #666666;
}

.footer-in > .footer-bottom > .footer-bottom-right a {
    font-size: 12px;
}

.footer-in > .footer-bottom > .footer-bottom-right a:last-child {
    margin-left: 60px;
}

/*底部结束*/

/*响应式网页兼容开始*/
.nav2{
    display: none;
}
.header-phone {
    display: none;
}

.main>.main-top li:nth-child(2) {
    display: none;
}
/*响应式网页兼容结束*/