/*头部开始*/
.nav2 {
    display: block;
}

.nav1 {
    display: none;
}

.header > .header-bottom {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

/*头部结束*/

/*内容开始*/
.main-top > div > i {
    width: 200px;
    height: 30px;
    background: url("../images/vivo-banner-title1-mini.png") no-repeat;
}

.main-top > div > i:nth-child(2) {
    background: url("../images/vivo-banner-title2-mini.png") no-repeat;
}

.main-top > div > i:nth-child(3) {
    background: url("../images/vivo-banner-title3-mini.png") no-repeat;
}

.main-top > div > p {
    width: 200px;
    margin-top: 40px;
}

.main > .main-bottom {
    flex-wrap: wrap;
    margin-top: 0;
}

.main-bottom > div {
    flex: none;
    width: 50%;
    margin-top: 5px;
}

/*内容结束*/

/*底部开始*/
.footer > .footer-in {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-in > .footer-bottom > .footer-bottom-left {
    float: none;
    width: auto;
    margin-right: 25%;
}

/*底部结束*/